/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

define MAC 0
#define WIN 1
#define GAME 2
#define RIG 3
#define RIG_WIN 4
#define LEF 5
#define TRI 6

#define COMBO_TIMEOUT 50

/ {
    macros {
        mc0: mc0 {
            label = "hungnk1";
            compatible = "zmk,behavior-macro";
            wait-ms = <200>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap_time 10>
                , <&macro_tap &kp H &kp U &kp N &kp G &kp N &kp K &kp N1 &kp TAB &kp A &kp B &kp C &kp AT &kp N1 &kp N0 &kp N2 &kp N5 &kp ENTER>
                ;
        };
        mc1: mc1 {
            label = "sodev";
            compatible = "zmk,behavior-macro";
            wait-ms = <200>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap_time 10>
                , <&macro_tap &kp DOT &kp BSLH &kp S &kp O &kp D &kp E &kp V &kp TAB &kp A &kp B &kp C &kp TILDE &kp N1 &kp N2 &kp N3 &kp N4 &kp ENTER>
                ;
        };
        mc2: mc2 {
            label = "pw";
            compatible = "zmk,behavior-macro";
            wait-ms = <200>;
            #binding-cells = <0>;
            bindings
                = <&macro_tap_time 10>
                , <&macro_tap &kp N0 &kp N8 &kp N0 &kp N1 &kp ENTER>
                ;
        };
        mc3: mc3 {
            label = "pw_win";
            compatible = "zmk,behavior-macro";
            wait-ms = <200>;
            #binding-cells = <0>;
            bindings
             = <&macro_tap_time 10>
                , <&macro_tap &kp A &kp B &kp C &kp AT &kp N1 &kp N0 &kp N2 &kp N5 &kp ENTER>
                ;
        };
        mc4: mc4 {
            label = "next_word";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL>
                ;
        };
        mc5: mc5 {
            label = "prev_workspace";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LGUI>
                , <&macro_tap &kp LEFT>
                , <&macro_release &kp LCTRL &kp LGUI>
                ;
        };
        mc6: mc6 {
            label = "next_workspace";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LGUI>
                , <&macro_tap &kp RIGHT>
                , <&macro_release &kp LCTRL &kp LGUI>
                ;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";
        combo_cw {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <20 21 22>;
                bindings = <&caps_word>;
        };
        combo_row {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <27 28 29>;
                bindings = <&kp LS(HOME)>;
        };
        combo_lalt {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <10 11 12>;
                bindings = <&kp LALT>;
                // layers = <1>;
        };
        combo_ralt {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <17 18 19>;
                bindings = <&kp RALT>;
                // layers = <1>;
        };
        combo_lgui {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <1 2 3>;
                bindings = <&kp LGUI>;
                // layers = <1>;
        };
        combo_rgui {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <6 7 8>;
                bindings = <&kp RGUI>;
                // layers = <1>;
        };
        combo_lctrl {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <21 22 23>;
            bindings = <&kp LCTRL>;
        };
        combo_rctrl {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <26 27 28>;
            bindings = <&kp RCTRL>;
        };
        combo_del {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <11 12 13>;
            bindings = <&kp DEL>;
        };
	    combo_bksp {
            timeout-ms = <COMBO_TIMEOUT>;
            key-positions = <16 17 18>;
            bindings = <&kp BSPC>;
        };
        /*
        combo_mac_lcmd {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <10 11 12>;
                bindings = <&kp LGUI>;
                layers = <0>;
        };
        combo_mac_lalt {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <21 22 23>;
                bindings = <&kp LALT>;
                layers = <0>;
        };
        combo_mac_ralt {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <26 27 28>;
                bindings = <&kp RALT>;
                layers = <0>;
        };
        combo_mac_lctrl {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <1 2 3>;
                bindings = <&kp LCTRL>;
                layers = <0>;
        };
        combo_mac_rctrl {
                timeout-ms = <COMBO_TIMEOUT>;
                key-positions = <6 7 8>;
                bindings = <&kp RCTRL>;
                layers = <0>;
        };
        */
    };
};

&caps_word {
	continue-list = <UNDERSCORE MINUS BACKSPACE DELETE HOME END LEFT RIGHT>;
};

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp SEMI>, <&kp COLON>;
        };
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp Q>, <&kp ESC>;
        };
        td2: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp GRAVE>, <&kp TILDE>;
        };
        td3: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LPAR>, <&kp LT>;
        };
        td4: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp RPAR>, <&kp GT>;
        };
        td5: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_5";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp HASH>, <&kp DLLR>;
        };
        td6: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_6";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp PRCNT>, <&kp CARET>;
        };
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <RIG LEF>;
            then-layer = <TRI>;
        };
        tri_layer_win {
            if-layers = <RIG_WIN LEF>;
            then-layer = <TRI>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        mac_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q  ESC  │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ; :     │
            &td1       &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &td0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │   R      │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │
            &kp A       &kp R     &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │  / ?     │
          &mt LSHIFT Z &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &mt RSHIFT FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none  &lt LEF TAB  &mt LGUI ENTER   &kp SPACE  &lt RIG LA(BSPC) &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        windows_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q  ESC  │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ; :     │
            &td1       &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &td0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │   R      │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O       │
            &kp A       &kp R     &kp S      &kp T      &kp G          &kp M      &kp N      &kp E      &kp I      &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │  / ?     │
          &mt LSHIFT Z &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &mt RSHIFT FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none  &lt LEF TAB  &mt LCTRL ENTER  &kp SPACE  &lt RIG_WIN LC(BSPC) &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        game_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  J       │  Q       │  W       │  E       │  R       │   │  J       │  L       │  U       │  Y       │  ; :     │
            &kp J       &kp Q      &kp W      &kp E      &kp R          &kp J      &kp L      &kp U      &kp Y      &td0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  T       │   A      │  S       │  D       │  F       │   │  M       │  N       │  E       │  I       │  O       │
            &kp T       &kp A     &kp S      &kp D      &kp F          &kp M      &kp N      &kp E      &kp I      &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  LSHIFT  │  LCTRL   │  X       │  C       │  V       │   │  K       │  H       │ , <      │ . >      │  / ?     │
            &kp LSHIFT &kp LCTRL  &kp X      &kp C      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &mt RSHIFT FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &kp TAB    &kp SPACE      &kp SPACE  &lt RIG_WIN LC(BSPC) &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        right_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F9      │  F10     │  F11     │  F12     │          │   │  PG_UP   │  prv_wrd │  UP      │  nxt_wrd │          │
            &kp F9     &kp F10    &kp F11    &kp F12    &none         &kp PG_UP &kp LA(LEFT) &kp UP  &kp LA(RIGHT) &mc2         
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F5      │  F6      │  F7      │  F8      │          │   │  PG_DN   │  LEFT    │  DOWN    │  RIGHT   │          │
            &kp F5     &kp F6     &kp F7     &kp F8     &none          &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp LG(LC(Q))          
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F1      │  F2      │  F3      │  F4      │          │   │  HOME    │  END     │          │          │          │
        &mt LSHIFT F1  &kp F2     &kp F3     &kp F4     &none          &kp HOME   &kp END    &none      &none      &kp LCTRL    
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &trans     &trans         &none      &trans     &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        right_win_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  F9      │  F10     │  F11     │  F12     │          │   │  PG_UP   │  prv_wrd │  UP      │  nxt_wrd │          │
            &kp F9     &kp F10    &kp F11    &kp F12    &none         &kp PG_UP &kp LC(LEFT) &kp UP  &kp LC(RIGHT) &mc3         
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F5      │  F6      │  F7      │  F8      │          │   │  PG_DN   │  LEFT    │  DOWN    │  RIGHT   │          │
            &kp F5     &kp F6     &kp F7     &kp F8     &none          &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp LG(L)            
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  F1      │  F2      │  F3      │  F4      │          │   │  HOME    │  END     │          │          │          │
        &mt LSHIFT F1  &kp F2     &kp F3     &kp F4     &none          &kp HOME   &kp END    &none      &none      &none     
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &trans     &trans         &none      &trans     &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        left_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  $  #    │  ()  <>  │  ()  <>  │  "       │  +       │   │  *       │  7       │  8       │  9       │  %  ^    │
            &td5       &td3       &td4       &kp DQT    &kp PLUS       &kp STAR   &kp N7     &kp N8     &kp N9     &td6
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  @       │  {}      │  {}      │  '       │  =       |   |  !       │  4       │  5       │  6       │  ` ~     │
            &kp AT     &kp LBRC   &kp RBRC   &kp SQT    &kp EQUAL      &kp EXCL   &kp N4     &kp N5     &kp N6     &td2  
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │  []      │  []      │  |       │  &       │   │  0       │  1       │  2       │  3       │  \       │
&mt LG(LC(LSHIFT)) LG(GRAVE) &kp LBKT &kp RBKT &kp PIPE &kp AMPS       &kp N0     &kp N1     &kp N2     &kp N3     &mt RSHIFT BSLH 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &trans     &trans         &kp UNDER  &lt RIG MINUS  &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│PROFILE 0 │PROFILE 1 │PROFILE 2 │PROFILE 3 │PROFILE 4 │   │CLEAR BT  │ VOL DOWN │ VOL MUTE │  VOL UP  │          │
    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &mc0
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CAPSLOCK │  WIN     │   │  K       │ NEXTSONG │PAUSEMUSIC│ PREVSONG │          │
            &none      &none      &none   &kp CAPSLOCK  &tog WIN       &kp K    &kp C_NEXT &kp C_PP   &kp C_PREV    &mc1
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │TOGGLEOUT │  GAME    │   │          │DEC BRIGHT│          |INC BRIGHT│          │
            &none      &none      &none  &out OUT_TOG   &tog GAME      &none    &kp C_BRI_DEC &none   &kp C_BRI_UP  &none
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                  &none      &trans     &none          &none      &trans      &none 
        //                      ╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
            >;
        };
    };
};
